<!doctype html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="Luis V&aacute;zquez">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .post_container, .reply_container {
            border: 1px solid red;
            width: 100%;
            overflow: auto;
        }

        .reply_container {
            padding-left: 10%;
            width: 90%;
        }

        .post_profile {
            display: block;
            width: 20%;
            border: 1px solid blue;
            float: left;
        }

        .post_comment, .post_reply {
            display: block;
            width: 75%;
            border: 1px solid green;
            float: left;
        }
    </style>

</head>
<body>

    <div id="header-container">
        <header class="wrapper clearfix">
            <!-- Page header -->
            <h1 id="title">Minako no Tango!</h1>

            <!-- Menu -->
            <nav>
                <ul>
                    <li>@Html.ActionLink("Mis frases", "Index", "Phrase")</li>
                    <li>@Html.ActionLink("Mi vocabulario", "Index", "Tango")</li>
                    <li>@Html.ActionLink("Salir", "Logout", "Login")</li>
                </ul>
            </nav>
        </header>
    </div>

    <!-- Content -->
    <div id="main-container">
        <div id="main" class="wrapper clearfix">
            @RenderBody()
        </div>
    </div>

    <div id="footer-container">
        <footer class="wrapper">
            <h3>Sistema para uso privado (Abril 2015)</h3>
        </footer>
    </div>
</body>
</html>
