@model MinakoNoTango.Models.PhraseView

@{
    ViewBag.Title = "Agregar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Agregar</legend>

        <!-- Expression -->
        <div class="editor-label">
            @Html.LabelFor(x => x.NewPhrase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.NewPhrase)
            @Html.ValidationMessageFor(x => x.NewPhrase)
        </div>

        <!-- Comment -->
        <div class="editor-label">
            @Html.LabelFor(x => x.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(x => x.Comment)
            @Html.ValidationMessageFor(x => x.Comment)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
