@model MinakoNoTangoLib.Library.Models.StudentModel

    @{
        Layout = null;
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Agregar</legend>

            <!-- Expression -->
            <div class="editor-label">
                @Html.LabelFor(x => x.Expression)
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.Expression)
                @Html.ValidationMessageFor(x => x.Expression)
            </div>

            <!-- Comment -->
            <div class="editor-label">
                @Html.LabelFor(x => x.Comment)
            </div>
            <div class="editor-field">
                @Html.EditorFor(x => x.Comment)
                @Html.ValidationMessageFor(x => x.Comment)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
