@model MinakoNoTangoLib.Entities.PhraseEntity

    @{
        Layout = null;
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Agregar</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Expression)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Expression)
                @Html.ValidationMessageFor(model => model.Expression)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Comment)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>

            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
