@model MinakoNoTangoLib.Entities.PhraseEntity

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Agregar</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.EnglishPhrase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnglishPhrase)
            @Html.ValidationMessageFor(model => model.EnglishPhrase)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SpanishPhrase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SpanishPhrase)
            @Html.ValidationMessageFor(model => model.SpanishPhrase)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JapansePhrase)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JapansePhrase)
            @Html.ValidationMessageFor(model => model.JapansePhrase)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthorName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthorName)
            @Html.ValidationMessageFor(model => model.AuthorName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
