@model List<MinakoNoTangoLib.Entities.PhraseEntity>
@{
    ViewBag.Title = "Home";
}

<div>
    <p>Lista de frases</p>
    <table>
        @{
            foreach (var phrase in this.Model)
            {
            <tr>
                <td>Frase: @phrase.Expression</td>
                <td>Idioma: @phrase.Language.ToString()</td>
                <td>Autor: @phrase.AuthorName</td>
                <td>@Html.ActionLink(linkText: "View", actionName: "ViewPhrase",
                    controllerName: "Home", routeValues: new { idPhrase = @phrase.Id }, htmlAttributes: null);</td>
            </tr>
            }
        }
    </table>
</div>

<div>
    @Html.ActionLink(linkText: "Agregar frase", actionName: "AddPhrase");
</div>

