@model MinakoNoTangoLib.Library.Models.TeacherModel
@{
    ViewBag.Title = "Home";
}
<h1>Lista de frases</h1>

<div>
    @Html.ActionLink(linkText: "Agregar frase", actionName: "Add")
</div>

@{
    foreach (var phrase in this.Model.Expressions)
    {
    <article>
        <!-- Post phrase -->
        <header>

            <h3>@phrase.Expression</h3>
            @Html.ActionLink(linkText: "Ver frase", actionName: "View", routeValues: new { Id= @phrase.Id })
        </header>

        <!-- Original post -->
        <section class="post_container">
            <div class="post_profile">
                <img src="img\dulce.jpg" style="width: 30px; height: 30px;" />
                <span>@phrase.AuthorName</span>
                <span>2015/Mar/23 07:00 pm</span>
            </div>
            <div class="post_comment">
                <p>@phrase.Comment</p>
            </div>

        </section>

    </article>
    }
}



