@model List<MinakoNoTangoLib.Entities.PhraseEntity>
@{
    ViewBag.Title = "Home";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Minako no Tango</title>
</head>
<body>
    <div>
        <p>Lista de frases</p>
        <table>
            @{
                foreach(var phrase in this.Model)
                {
                    <tr>
                        <td>Espanol: @phrase.SpanishPhrase</td>
                        <td>Ingles: @phrase.EnglishPhrase</td>
                        <td>Japones: @phrase.JapansePhrase</td>
                        <td>Autor: @phrase.AuthorName</td>
                        <td>@Html.ActionLink("View", "ViewPhrase");</td>
                    </tr>
                }
            }
        </table>
    </div>

    <div>
        @Html.ActionLink("Agregar frase", "AddPhrase");
    </div>
    
</body>
</html>
